{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

<br><h1>Liste des utilisateurs:</h1><br>
    <table class="table table-striped">
        <thead class="thead-dark"><tr>
            <th scope="col">Nom d'utilisateur</th>
            <th scope="col">Articles</th>
            <th scope="col">Rôle</th>
            <th scope="col">Modifier rôle</th>
        </tr></thead>
        <tbody>
        {% for user in users %}
            <tr>
                <form action="role_update/{{user.id}}" method="post">
                    <! Username --> 
                    <td>{{ user.username }}</td>
                    <td>{{ user.articles|length }}</td>
                    <! Roles -->
                    <td><select name="role" class="custom-select">
                        <option {%if (user.roles[0] == null) %} selected {% endif %} value="ROLE_USER">Utilisateur</option>
                        <option {%if (user.roles[0] == "ROLE_ADMIN") %} selected {% endif %} value="ROLE_ADMIN">Administrateur</option>
                    </select></td>
                    <! Icon update -->  
                    <td>
                        <button class="btn btn-info btn-sm"> Valider la <br> modification </button>
                    <td>
                </form>
            <tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
